@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}

body * {
  font-family: "NanumPenScript";
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  background-color: white;
}

body {
  height: 100%;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}
